# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.env

# Node / Frontend
frontend/
node_modules/

# IDEs e OS
.vscode/
.idea/
.DS_Store

# Arquivos locais desnecessários na nuvem
media/
.agents/
